<% if @article.errors.any?%>
    <!-- The first time we dont have @article which can cause error fixed by add @article in new action-->
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <h4 class="alert-heading"> Following errors prevented the article from saving </h4>
        <ul>
            <% @article.errors.full_messages.each do |msg|%>
                <li><%= msg%></li>
            <%end%>
        </ul>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<%end%>
