@import 'bootstrap/dist/css/bootstrap';

.navbar {
    background-color: black !important;
}

.nav-link{
    color: white !important; 
}

#logo{
    float: left;
    font-size: 1.7em;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
    color: white !important;
}

html,body {
   height: 100%; 
}

#page-content{
    flex: 1 0 auto;
    background-color: lightgray;
}

#description{
    text-align: left;
}